<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact_message.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact_message.email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contact_message.message %>
</p>


<%= link_to 'Back', ("/") %>
