<p id="notice"><%= notice %></p>

<h1>Home Page Blocks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @home_page_blocks.each do |home_page_block| %>
      <tr>
        <td><%= home_page_block.title %></td>
        <td><%= home_page_block.body %></td>
        <td><%= link_to 'Show', home_page_block %></td>
        <td><%= link_to 'Edit', edit_home_page_block_path(home_page_block) %></td>
        <td><%= link_to 'Destroy', home_page_block, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home Page Block', new_home_page_block_path %>
