<p id="notice"><%= notice %></p>

<div class="container">
	<div class="row content_blocks">
		<h1 class="text-center">
  
  <%= @home_page_block.title %>
</h1>

	</div>
	<div class="row content_blocks">
		<p class="text-center">
  
  <%=raw @home_page_block.body %>
</p>
	</div>
</div>




