<%= form_with(model: social_medium, local: true) do |form| %>
  <% if social_medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(social_medium.errors.count, "error") %> prohibited this social_medium from being saved:</h2>

      <ul>
      <% social_medium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
