<p id="notice"><%= notice %></p>

<h1>Social Media</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @social_media.each do |social_medium| %>
      <tr>
        <td><%= social_medium.title %></td>
        <td><%= social_medium.link %></td>
        <td><%= link_to 'Show', social_medium %></td>
        <td><%= link_to 'Edit', edit_social_medium_path(social_medium) %></td>
        <td><%= link_to 'Destroy', social_medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Social Medium', new_social_medium_path %>
