<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @social_medium.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @social_medium.link %>
</p>

<%= link_to 'Edit', edit_social_medium_path(@social_medium) %> |
<%= link_to 'Back', social_media_path %>
