<p id="notice"><%= notice %></p>

<div class="container">
	<div class="row content_blocks">
		<h1 class="text-center">
  
  <%=raw @page.title %>
</h1>

	</div>
	<div class="row content_blocks">
		<p class="text-center">
  
  <%=raw @page.body %>
</p>
	</div>
</div>



