<%= form_with(model: image_slide, local: true) do |form| %>
  <% if image_slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image_slide.errors.count, "error") %> prohibited this image_slide from being saved:</h2>

      <ul>
      <% image_slide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
