<p id="notice"><%= notice %></p>

<h1>Image Slides</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @image_slides.each do |image_slide| %>
      <tr>
        <td><%= image_slide.title %></td>
        <td><%= image_slide.body %></td>
        <td><%= link_to 'Show', image_slide %></td>
        <td><%= link_to 'Edit', edit_image_slide_path(image_slide) %></td>
        <td><%= link_to 'Destroy', image_slide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image Slide', new_image_slide_path %>
