<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @image_slide.title %>
</p>

<div>
	<%=image_tag(@image_slide.image)%>
</div>

<p>
  <strong>Body:</strong>
  <%= @image_slide.body %>
</p>

<%= link_to 'Edit', edit_image_slide_path(@image_slide) %> |
<%= link_to 'Back', image_slides_path %>
