// Place all the styles related to the HomePageBlocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Setting global variables */
$brand_color: #89cff0;
$brand_color_secondary: #4169E1;
$brand_white: #ffffff;
$off_white: #fefdfb;
$brand_font: "Cheltenham_Book";
$ng_gray: #808080;

.content_blocks{
	h1{
		color: $brand_color;
		font-family: $brand_font;
	}
	p{
		color: $ng_gray;
		font-family: $brand_font;
		font-size: 20px;
		
		line-height: normal;
	}

	a:visited { 
    color: $brand_white;
}
}
