// Place all the styles related to the image_slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Setting global variables */
$brand_color: #89cff0;
$brand_color_secondary: #4169E1;
$brand_white: #ffffff;
$off_white: #fefdfb;
$brand_font: "Cheltenham_Book";
$ng_gray: #808080;

/* Set indicator color & style*/
#myCarousel{
	ol{
	li.active{
		background-color: $brand_color;
	}
}
}

/*Caption for Carousel*/
.carousel-caption{
	h3{
		font-size: 36px;
	}

	p{
		color: $brand_white;
		font-size: 20px;

	}
}
