/* Setting global variables */
$brand_color: #89cff0;
$brand_color_secondary: #4169E1;
$brand_white: #ffffff;
$off_white: #fefdfb;
$brand_font: "Cheltenham_Book";
$ng_gray: #808080;

.spacer_bottom{
	padding-bottom: 50px;
}

.spacer_top{
	padding-top: 50px;
}

#brand_name{
	color: $brand_color;
}

.brand_color{
	color: $brand_color;
}

#brand_nav{
	a{
		color: $brand_white;
		font-weight: bold;
		font-family: $brand_font;
		font-size: 30px;
		text-decoration:  none;
		&:hover{
			color: $brand_color;
			background-color: $brand_white;
		}
	}
}

.section_header{
	font-size: 36px;
	font-family: $brand_font;
	font-weight: bold;
	font-style: oblique;
	padding-bottom: 20px;
	border-bottom-style: solid;
	margin-bottom: 30px;
}

.homepage_header{
	color: $brand_color;
}

.navbar-inverse_ng{
	background-color: $brand_color;
}

/* Set color and styling for nav items */
#nav_items{
	ul{
		li{
			a{
				color: $brand_white;
				font-size: 16px;
				text-decoration:  none;

				&:hover{
			color: $brand_color;
			background-color: $brand_white;
		}
			}
		}
	}
}

/* Add a gray brand color and some padding to the footer */
footer{
	background-color: $brand_color;
     

	p{
		color: $brand_white;
		font-size: 20px;
		font-weight: bold;
		font-style: oblique;
		font-family: $brand_font;
		margin-top: 20px;
		float: left;

	}

	#design_by{
		color: $brand_white;
		font-size: 20px;
		font-weight: bold;
		font-style: oblique;
		font-family: $brand_font;
		margin-top: 20px;
		float: right;

	}
}

#creativeProcess{
	a{
		color: $brand_white;
	}

	a:visited { 
    color: $brand_white;
}
}

.mainServicesSections{
a{
	color: $brand_white;
	text-decoration: none;
}

}

.bg_color{
	background-color: $brand_color;

}

#digital_agency{
	padding-right: 10px;
	h1{
		color: $brand_white;
	}
	h3{
		color: $brand_white;
	}
	p{
		line-height: 26px;
		color: $brand_white;
	}
}

#digital_marketing{
	background-color: $brand_color_secondary;

	h1{
		color: $brand_white;
	}
	h3{
		color: $brand_white;
	}
	p{
		line-height: 26px;
		color: $brand_white;
	}
}

/*Set p style on homepage*/
.homepageP{
	line-height: 26px;
}

#products_section{
	display: none;
}

/*Contact Us */
#contact{
	a:visited { 
    color: $brand_white;
}
}