<div class="col-sm-8">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        
        <% if !my_slider.blank? %>
        <%i=0%>
          <% for item in my_slider %>
          <%if setup_the_slides(my_slider,item)%>
          <li data-target="#myCarousel" data-slide-to="<%=i%>" class="active"></li>
          <%else%>
          <li data-target="#myCarousel" data-slide-to="<%=i%>"></li>
          <%end%>
            
          <% end %>
        <% else %>
          
        <% end %>
        
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox"> 
        <% if !my_slider.blank? %>
        
        <% for slideritem in my_slider %>

<%if setup_the_slides(my_slider,slideritem)%>
<div class="item active col-md-12 mx-auto" style="width: 800px; height: 400px">
          <%=image_tag(slideritem.image,style:'width:100%')%>
          <div class="carousel-caption">
            <h3><%= slideritem.title %></h3>
            <p><%= slideritem.body %></p>
          </div>      
        </div>
<%else%>
<div class="item col-md-12" style="width: 800px; height: 400px">
          <%=image_tag(slideritem.image,style:'width:100%')%>
          <div class="carousel-caption">
            <h3><%= slideritem.title %></h3>
            <p><%= slideritem.body %></p>
          </div>      
        </div>
        <% end %> 
      <% end %>
      </div>
<%end%>

      </div>
      

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>