<div class="container">
<div class="row">
  <%= render 'layouts/carousel' %>
  <div class="col-sm-4">
    <div>
      <%=image_tag("ngLogo.jpg", size: "350x350")%>
    </div>
  </div>
</div>
<hr>
</div>


<%=render 'layouts/homepageblock' %>

<div id="digital_agency" class="container spacer_bottom spacer_top"><div class="row"><section class="col-lg-5 bg_color"><h1 class="text-center">Not just a digital agency</h1>
<h3 class="text-center">WE ARE DIGITAL EXPERTS</h3>
<p class="homepageP">
We work with clients big and small across a range of sectors and we utilise all forms of media to get your name out there in a way that’s right for you. We believe that analysis of your company and your customers is key in responding effectively to your promotional needs and we will work with you to fully understand your business to achieve the greatest amount of publicity possible so that you can see a return from the advertising.</p>
</section>

<section class="col-lg-2"></section>

<section id="digital_marketing" class="col-lg-5 text-center"><h1>WE CONNECT BRANDS</h1><h3>We're an independent creative agency</h3><p>We're a small, but mighty marketing agency that produces effective work for great clients through creativity, agility, ingenuity, and dialed-in strategy.</p> 

<p>With an itch for greatness in everything we do, we create, design and tell stories with a persistent commitment to innovation and efficiency. Our pursuit of excellence is the only way we know how to generate ideas that stick and that accelerate your brand's progress.</p>
</section>
</div>
</div>

<div class="container spacer_bottom"><div class="row"><section class="section-call-to-action action-center action-lg bg-gray m-t-40">
        <div class="action-wrapper animated" data-animation="fadeInUp" data-animation-delay="600">
          <div class="action-text">
            <h2 class="action-title text-center brand_color">Ready to create your new awesome project with the Gang?</h2>
          </div>
          <div class="action-btn m-t-40">
            <div id="contact" class="container text-center"><a href="contact-us" class="btn btn-primary text-center btn-lg"><i class="nc-icon-outline ui-1_email-85"></i><span>Contact us</span></a></div>
          </div>
        </div>
      </section></div></div>

<div id="products_section" class="container">
	<div class="row products">

            <div class="col-lg-12">
                <h2 class="page-header">Our Products</h2>
            </div>
		
			<div class="col-sm-4 col-lg-3 col-md-4">
				<div class="thumbnail">
					<img src="https://placehold.it/320x150" alt="">
					<div class="caption">
						<h4 class="pull-right">$24.99</h4>
						<h4><a href="#">First Product</a></h4>
						<p>This product is cheap, and has a very good quality. You must buy it right now!</p>
					</div>
					<div class="ratings">
						<p class="pull-right">15 reviews</p>
						<p>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-lg-3 col-md-4">
				<div class="thumbnail">
					<img src="https://placehold.it/320x150" alt="">
					<div class="caption">
						<h4 class="pull-right">$64.99</h4>
						<h4><a href="#">Second Product</a></h4>
						<p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<div class="ratings">
						<p class="pull-right">12 reviews</p>
						<p>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star-empty"></span>
						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-lg-3 col-md-4">
				<div class="thumbnail">
					<img src="https://placehold.it/320x150" alt="">
					<div class="caption">
						<h4 class="pull-right">$74.99</h4>
						<h4><a href="#">Third Product</a></h4>
						<p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<div class="ratings">
						<p class="pull-right">31 reviews</p>
						<p>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star-empty"></span>
						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-lg-3 col-md-4">
				<div class="thumbnail">
					<img src="https://placehold.it/320x150" alt="">
					<div class="caption">
						<h4 class="pull-right">$84.99</h4>
						<h4><a href="#">Fourth Product</a></h4>
						<p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<div class="ratings">
						<p class="pull-right">6 reviews</p>
						<p>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star-empty"></span>
							<span class="glyphicon glyphicon-star-empty"></span>
						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-lg-3 col-md-4">
				<div class="thumbnail">
					<img src="https://placehold.it/320x150" alt="">
					<div class="caption">
						<h4 class="pull-right">$94.99</h4>
						<h4><a href="#">Fifth Product</a></h4>
						<p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<div class="ratings">
						<p class="pull-right">18 reviews</p>
						<p>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star-empty"></span>
						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-lg-3 col-md-4">
				<h4><a href="#">Like our products?</a></h4>
				<p>Pick your products today to get free shipping!</p>
				<a class="btn btn-primary" target="_blank" href="#">Let's go!</a>
			</div>

		</div>	</div>

<div class="container text-center spacer_bottom">    
  <h3 class="homepage_header section_header">BRANDS THAT PUT THEIR TRUST IN US.</h3>
  <br>
  <div class="row">
    <div class="col-sm-2"> 
      <img src="https://vignette.wikia.nocookie.net/logopedia/images/6/62/NICKELODEON_Logo.png/revision/latest?cb=20111106061132&format=original" class="img-responsive" style="width:100%" alt="Image">
      <p></p>
    </div> 
    <div class="col-sm-2">
      <img src="https://vignette.wikia.nocookie.net/logopedia/images/3/3a/Bet-520x245.png/revision/latest?cb=20140815150429" class="img-responsive" style="width:100%" alt="Image">
      <p></p>
    </div>
    <div class="col-sm-2"> 
      <img src="http://images4.fanpop.com/image/photos/21700000/Disney-walt-disney-50-animated-motion-pictures-21757269-1724-796.png" class="img-responsive" style="width:100%" alt="Image">
      <p></p>
    </div>
    <div class="col-sm-2"> 
      <img src="https://vignette.wikia.nocookie.net/90scartoons/images/b/bc/Mtv-logo-Logo.png/revision/latest?cb=20140219002555" class="img-responsive" style="width:100%" alt="Image">
      <p></p>
    </div> 
    <div class="col-sm-2"> 
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/Comedy_Central_Logo_2011_vertikal.png" class="img-responsive" style="width:100%" alt="Image">
      <p></p>
    </div>     
    <div class="col-sm-2"> 
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/38/Logo_VH1_IT.png" class="img-responsive" style="width:100%" alt="Image">
      <p></p>
    </div> 
  </div>
</div><br>