<% if !my_blocks.blank? %>
	<% for my_block_item in my_blocks %>
	<%if setup_the_homepage_blocks(my_blocks,my_block_item) %>
	<div class="container text-center spacer_top spacer_bottom"> 

  <div class="row">

<section class="col-lg-6 mainServicesSections content_blocks"><h1 class="text-center"><%=my_block_item.title%></h1>

    <p class="text-center"><%=raw my_block_item.body%></p>

<a href="/home_page_blocks/<%=my_block_item.id%>" class="btn btn-primary btn-lg"><%=my_block_item.button_title%></a>
</section>

  <section class="col-lg-6"><%=image_tag(my_block_item.image, size: "450x450")%></section></div>
</div>

	<%else%>

		<div class="container text-center">

<div class="row"><section class="col-lg-6"><%=image_tag(my_block_item.image, size: "450x450")%></section>

<section class="col-lg-6 content_blocks"><h1 class="text-center"><%=my_block_item.title%></h1> 
	<p class="text-center"><%=raw my_block_item.body%></p>

<div class="text-center mainServicesSections"><a href="/home_page_blocks/<%=my_block_item.id%>" class="btn btn-primary btn-lg"><%=my_block_item.button_title%></a></div>
</section></div>
</div>
	<% end %>
<% end %>
	
<% end %>