<!DOCTYPE html>
<html>
  <head>
    <title><%= site_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render 'layouts/header'%>
    <%= yield %>
    <%=render 'layouts/footer'%>
  </body>
</html>
